

body{
  background-color: #ffffff;
  color: #7e4a35;
  font-family: 'Open Sans', sans-serif;
  margin: 0;
  padding: 0;
}

header{
  background-color: #7e4a35;
  color: #ffffff;
  padding: 2%;
}

header > h1{
	font-size: 2.5em;
}

.wrapmiddlefirst {
	display: flex;
	width: 100%;
}

.left {
	padding: 3%;
	width: 55%;
	display: inline-block;
	border-bottom: solid 1% #000000;
}

.right {
	background-color: #cab577;
	padding: 2%;
	width: 40%;
	display: inline-block;
}

.right > img {
	display: flex;
	width: 80%;
	margin-bottom: 5%;
	margin-left: 5%;
	margin-right: 5%;
}

button {
	color: #ffffff;
	background-color: #33cc33;
	border: none;
	padding: 15px 32px;
	text-decoration: none;
	display: inline-block;
	font-size: 16px;
}

button:hover {
	background-color: #7e4a35;
}


#delete_monograph, #delete_journal_article, #edit_monograph, #edit_journal_article{
	color: white;
	background-color: #33cc33;
	border: none;
	padding: 10px 18px;
	margin-right: 1%;
	text-decoration: none;
	display: inline-block;
}


button > img {
	background-position: center; /* 0px 0px; */
    background-repeat: no-repeat;
    vertical-align: middle;
	
}

#add_my_monograph, #add_my_journal_article, #edit_my_monograph, #edit_my_journal_article{
	display: none;
	padding: 2%;
	border: solid 3px #7e4a35;
	border-radius: 5%;
	
}

#add_my_monograph button {
	color: white;
	background-color: #33cc33;
	border: none;
	padding: 10px 10px;
	text-decoration: none;
	display: inline-block;
	font-size: 16px;
}
form {
  max-width: 60%;
  margin: 0;
  padding: 0 5px;
}

table {
	padding: 1%;
	width: 100%;
}

@media (max-width: 40rem) {
body{	
	color: #4f3222;
}

.left {
	width: 85%;
}

.right {
	display: none;
}

form {
  max-width: 80%;
  margin: 0;
  padding: 0 5px;
}
}